/**index.wxss**/
page{
    background-color: #ffffff;
}
.container{
  flex: 1;
  flex-direction: column;
}
.wrap{
    padding:20px 20px;
}
.hd-shadow{
}
.fix-popup {
    position: fixed;
    top: 422px;
    left: 0;
    width: 100%;
    z-index:99;
    background-color: #ffffff;
    flex-direction: column;
    flex:1;
}
.fix-popup-visible {
    /* transition: transform 300ms ease-out; */
}
.fix-popup .popup-title {
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    height: 130px;
    left:0;
    top:0;
    margin:10px 0;
}
.fix-popup .popup-title .title {
    color: #1a1a1a;
    font-size: 30px;
    line-height: 30px;
    margin-left: 20px;
}
.fix-popup .popup-title .close{
  font-size: 30px;
  line-height: 30px;
  margin-right: 20px;
    display:flex;
    justify-content:center;
    align-items:center;

}
.album-popup-list {
    margin-top: 0px;
}
.album-popup-list .album-item {
    margin-bottom: 55px;
    padding: 0 30px;
    flex-direction: column;
}
.album-popup-list .item-0 {
    margin-top: 60px;
}
.first-done .item-0 {
    margin-top: 0;
}
.album-popup-list .album-item .title {
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    color: #1a1a1a;
    lines:1;
    text-overflow:ellipsis;
    margin-bottom: 25px;
}
.album-popup-list .album-item .curr {
    color:#ff3521;
}
.album-popup-list .album-item .info {
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.album-popup-list .album-item .info text{
    font-size: 26px;
    height: 26px;
    line-height: 26px;
    color: #a6a6a6;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    z-index:2;
    background-color: #ffffff;
}
.header .title {
    font-size:34px;
    color:#1a1a1a;
    text-overflow:ellipsis;
    lines:2;
    line-height:54px;
    margin:10px 0;
    margin-left:20px;
    width:622px;
    font-weight:bold;
}
.header .share_area {
margin-right: 24px;
align-items: center;
}
.header .share_area image{
width: 30px;
height: 30px;
}
.header .more-arrow-wrapper {
    width:80px;
    line-height:54px;
    margin:10px 0;
    font-size:34px;
    right:5px;
}
.video-title{
    font-size:40px;
    lines:1;
    text-overflow: ellipsis;
}

/*播放器*/
.player{
    width: 750px;
    height:422px;
    position:fixed;
    top: 0;
    left: 0;
    justify-content: center;
    z-index:9999;
    align-items: center;
    flex-direction: column;
}
.player video{
    width: 750px;
    height:422px;
}
.player .wifi-tip{
    width: 100%;
    height:46px;
    text-align: center;
    line-height: 46px;
    font-size:28px;
    color:#ffffff;
    background-color:#e64340;
}
.player .video_back{
  width:32px;
  height:30px;
}
.no-player {
    /* position:fixed; */
    /* margin-top:20px; */
    margin-top:442px;
    top:422px;
    left:0;
    flex-direction: column;
}

/*用户信息*/
.userinfo{
  flex-direction: row;
    height:210px;
    align-items:center;
}
.userinfo-avatar {
    width: 110px;
    height: 110px;
    margin-left:20px;
    border-radius: 55px;
}

.userinfo-text {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:210px;

    left:150px;
    top:0;
    width:580px;
}
.userinfo-nickname {
    /*padding-top:15px;*/
    color: #1a1a1a;
    font-size:30px;
    line-height: 30px;
    margin-left: 20px;
}
/*标签*/
.tag-list-div{
  margin: 20px 0 0 20px;
  flex-direction: row;
}
.tag-list{
  font-size:20px;
  border:1px solid #b2b2b2;
  border-radius: 20px;
  lines:1;
  text-overflow: ellipsis;
    line-height:30px;
    color:#a6a6a6;
    padding:5px 10px 0;
    margin-right:10px;
    height:30px;
      align-items:center;
      justify-content:center;
}

/*视频详情介绍*/

.videoInfo-tip{
  justify-content: space-between;
    flex-direction: row;
    height:60px;
    margin-bottom: 10px;
}
.videoInfo-tip .title{
    font-size:30px;
    line-height:60px;
    font-weight: bold;
    height:60px;
    color:#1a1a1a;
    left:0px;
}
.videoInfo-tip .more {
    font-size:26px;
    color:#a6a6a6;
    line-height:60px;
    font-weight:normal;
    padding-top:5px;
    height:60px;
}
.comment .videoInfo-tip .title{
  width:20%;
}
.comment .videoInfo-tip .more{
  width:80%;
  text-align: right;
}
.videoInfo{
  display: flex;
flex-direction: column;
margin:0 20px 20px 20px;
}
.videoInfo-play{
  font-size: 26px;
  flex-direction: row;
    height:26px;
    line-height:26px;
}
.video-play,.video-publishTime{
    color:#a6a6a6;
    margin-right:16px;
}
.video-desc{
    font-size:26px;
    color:#a6a6a6;
    line-height:38px;
padding-top: 10px;
}
.top-shadow {
    background:linear-gradient(#f5f5f5,#ffffff);
}


/*剧集*/
.album {
flex-direction: column;
}
.album .album-list {
    height:110px;
    width: 100%;
    flex-direction: row;
}
.album .album-list list-item {
    width:310px;
    height:110px;
    background-color:#f5f5f5;
    justify-content:center;
    align-items:center;
    border-radius:12px;
    margin-right: 20px;
}
.album .album-list .dummy {
    opacity:0;
    width:620px;
}

.album .album-list  .album-text{
    font-size:30px;
    color:#1a1a1a;
    lines:2;
    text-overflow:ellipsis;
    line-height:42px;
    height:84px;
    width:270px;
}
.album .album-list .curr {
    color:#ff3521;
}

/*推荐视频*/
.recom{
    padding-bottom:0;
    flex-direction: column;
}

.recom-list{
    width:710px;
    height:690px;
}
.recom-list-item{
    width: 345px;
    padding-bottom:20px;
    flex-direction: column;
}
.recom-list-item image{
    width: 100%;
    height: 194px;

}
.recom-list-item text{
    width: 100%;
    font-size:30px;
    color:#1a1a1a;
    text-overflow: ellipsis;
    lines:2;
    margin:24px 0;
    line-height:42px;
    height:84px;
}

.recom-popup-list {
  flex-direction: column;
    margin-top: 0px;
    justify-content: center;
}
.recom-popup-list .item {
    height: 170px;
    margin: 20px;
flex-direction: row;
justify-content: space-between;
}
.recom-popup-list  .item image{
  width: 300px;
  height: 170px;
}
.recom-popup-list .item .info {
  flex-direction: column;
  width:450px;
  padding:20px;
}
.recom-popup-list .item .title {
    color: #1a1a1a;
    font-size: 30px;
    line-height: 42px;
    height: 84px;
    text-overflow: ellipsis;
    lines:2;
    top:14px;
}
.recom-popup-list .item .play-count {

    color: #a6a6a6;
    font-size: 26px;
    bottom:18px;
    left:340px;
    line-height:30px;
}


.comment {
    padding-bottom:0;
    flex-direction: column;
    margin-bottom: 100px;
}
.comment .no-comment {
    height:86px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#a6a6a6;
    font-size:26px;

}
.comment-list {
    width: 710px;
    flex:1;
    height:300px;
}
.comment-list  .item {
    padding: 20px 0 20px 0;
    justify-content: center;
    margin-bottom: 15px;
    flex-direction: column;
}
.user-info {
    display: flex;
    justify-content:space-between;
    padding-right: 10px;
    align-items:center;
    margin-bottom:3px;
}
.user-info > div{
    display: flex;
    align-items:center;
    width:560px;
}
.user-info image {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.user-info text {
    color: #a6a6a6;
    font-size: 26px;
    margin-left:20px;
}
.user-info .date {
    color: #a6a6a6;
    font-size: 22px;
}
.comment-content {
  align-items: flex-start;
    padding-left:80px;
    color: #1a1a1a;
    font-size: 30px;
    line-height: 42px;
}
.comment-content .floor-box {
    background-color:  #f5f5f5;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
    padding-bottom:10px;
}
.comment-content .content {
    margin-top: 4px
}
.item-content-circular {
  margin-bottom: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex:1;
}
.circular-1{
  width: 60px;
  height: 60px;
   color:#09ba07;
}
